// Custom styles.

body {
    background:url(/images/background/background1.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;
}

.main-inner {
     background: #fff;
     opacity: 0.9;
}

.header-inner {
   background: rgba(255, 255, 255, 0.9) !important;
}